:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  --fs: 1rem;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* BASE STYLES */

legend,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

html {
  font-family: "Poppins", system-ui;
  font-weight: var(--fw-400);
  font-style: normal;
}

body {
  min-height: 100vh;
  background-image: url(./images/bg-intro-desktop.png);
  background-color: var(--red);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: var(--fs);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin-inline: auto;
}

.left-container {
  color: white;
  max-width: 35rem;
}

.right-container {
  margin-left: 3rem;
  width: min(35rem, 90vw);
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.1;
}

h2 {
  font-size: 1rem;
  background-color: var(--blue);
  text-align: center;
  margin-bottom: 1.5rem;
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 0.625rem;
  color: white;
  box-shadow: 0 0.4rem rgba(0, 0, 0, 0.2);
}

h2 > span {
  font-weight: var(--fw-400);
}

form {
  background-color: white;
  padding: 2rem;
  border-radius: 0.625rem;
  box-shadow: 0 0.5rem rgba(0, 0, 0, 0.2);
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  gap: 1rem;
}

fieldset div {
  display: flex;
  flex-direction: column;
}

input,
button {
  padding: 1rem;
  border-radius: 0.625rem;
  font-weight: var(--fw-600);
}

input {
  border: 1px solid var(--grayish-blue);
  outline: none;
  padding-inline: 2rem;
}

input:focus {
  border: 1px solid var(--dark-blue);
}

input:not(:placeholder-shown):valid {
  border: 1px solid var(--green);
  background-image: url(./images/icon-check.png);
  background-position: 95%;
  background-repeat: no-repeat;
}

input:not(:placeholder-shown):invalid {
  border: 1px solid var(--red);
  background-image: url(./images/icon-error.svg);
  background-position: 95%;
  background-repeat: no-repeat;
}

input:not(:placeholder-shown):invalid + p {
  display: block;
  font-weight: var(--fw-600);
}

.hint {
  color: var(--red);
  margin-left: 2rem;
  display: none;
}
button {
  border: none;
  background-color: var(--green);
  color: #0a2f0a;
  box-shadow: 0.2rem 0.2rem #45b081;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
  opacity: 0.75;
}

form p:not(.hint) {
  font-size: 0.7rem;
  text-align: center;
  color: var(--grayish-blue);
  margin-top: 1rem;
  font-weight: var(--fw-400);
}

.tos {
  color: #a91b1b;
  font-weight: var(--fw-600);
}

@media screen and (max-width: 880px) {
  body {
    font-size: 0.875rem;
    margin-top: 1rem;
  }
  main {
    flex-direction: column;
  }
  .left-container {
    text-align: center;
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 2.5rem;
  }
  .right-container {
    margin-left: 0;
  }

  form {
    padding: 0.5rem;
  }
}
