@font-face {
  font-family: Poppins;
  src: local("Poppins"), url("./assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

:root {
  /* Primary */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  /* Neutral */
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
  --fs-p: 15px;
  --fw-200: 200;
  --fw-600: 600;
}

/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* BASE STYLES */

body {
  font-family: Poppins;
  font-size: var(--fs-p);
  min-height: 100vh;
  background-color: var(--very-light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  max-width: 54ch;
  text-align: center;
}

main {
  width: 100%;
}

.title {
  font-size: 2.5rem;
}

article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
  place-items: center;
  max-width: 1440px;
  margin-inline: auto;
}

.title {
  margin-top: 3em;
}

.title,
.sub-title {
  font-weight: var(--fw-200);
  color: var(--grayish-blue);
}

.title > span {
  font-weight: var(--fw-600);
  color: var(--very-dark-blue);
}

.sub-title {
  margin-top: 1.5rem;
  margin-bottom: 4.5rem;
}

.card {
  position: relative;
  max-width: 24rem;
  min-height: 15rem;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 2rem var(--grayish-blue);
  padding: 1.5rem;
  color: var(--very-dark-blue);
}

.card > p {
  color: var(--grayish-blue);
  margin-top: 0.5rem;
}

.supervisor {
  border-top: 0.25rem solid var(--cyan);
}

.team-builder {
  border-top: 0.25rem solid var(--red);
  margin-bottom: 2rem;
}

.karma {
  border-top: 0.25rem solid var(--orange);
}

.calculator {
  border-top: 0.25rem solid var(--blue);
}

img {
  position: absolute;
  right: 0;
  bottom: 10%;
  transform: translateX(-50%);
}

@media screen and (max-width: 48.8125rem) {
  .flex-column {
    grid-row: span 2;
  }
}
