:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --fs-p: 15px;
  --fw-700: 700;
}

/* RESET */
/* Josh Comeau custom css reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* BASE STYLES */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 100dvh;
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-template-areas: "stack";
}

form,
.modal {
  grid-area: stack;
  max-width: min(90vw, 25rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: linear-gradient(var(--dark-blue), var(--very-dark-blue));
  color: var(--light-grey);
  border-radius: 1em;
  padding: 1.5em;
  transition: visibility 0.3s, opacity 0.3s;
}

fieldset {
  border: transparent;
}

h2 {
  color: var(--white);
  font-size: 1.875rem;
}

h2,
button,
.rate {
  font-weight: var(--fw-700);
}

.star {
  background-color: var(--very-dark-blue);
  border-radius: 50%;
  padding: 1rem;
  width: 3rem;
  height: 3rem;
}

.rating {
  display: flex;
  justify-content: space-between;
}

label {
  width: 3rem;
  height: 3rem;
  background-color: var(--dark-blue);
  padding: 1rem;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

button,
a {
  width: 100%;
  border-radius: 1rem;
  background-color: var(--orange);
  color: var(--dark-blue);
  padding: 0.5rem;
  cursor: pointer;
  transition: color 0.3s;
  border: transparent;
}

input:focus-visible + label,
label:hover {
  background-color: var(--orange);
  color: var(--very-dark-blue);
  transition: color 0.3s;
}
input:focus-visible + label {
  outline: 2px solid var(--orange);
  outline-offset: 2px;
}

input:checked + label,
button:hover {
  background-color: var(--white);
  color: var(--very-dark-blue);
}

.modal {
  text-align: center;
  visibility: hidden;
  opacity: 0;
}

.modal img {
  margin: 0 auto;
  margin-bottom: 1rem;
}
